<div ng-repeat="artist in artists">

    <div class="row">

        <img class="head-img img-responsive" ng-src="{{artist.header}}">

    </div>
    <div class="row no-pad home__display">
        <div class="home__display-details col col-md-7">
            <div class="row no-pad">
                <div class="col-xs-9">
                    <h2>{{ artist.artist }}</h2>
                    <h3>{{ artist.album.title }}</h3>
                    <span class="home__date">{{ artist.album.release | date:"MMMM dd, yyyy" }}</span>
                </div>
                <div class="col-xs-3">
                    <div class="home__rating"><p>{{ artist.album.rating }}</p></div>
                </div>
            </div>
            <div class="row home__display-desc">
                <p>{{artist.album.desc | limitTo:200}}...</p>
            </div>

            <a href="#/artists/{{$index}}">
                <div class="btn">More</div>
            </a>
        </div>

        <img class="col col-md-5 cover-img img-responsive" ng-src="{{artist.album.cover}}">

    </div>

</div>